<div [formGroup]="parentGroup">
  <div formGroupName="sharedGroup">
    <!--Name-->
    <app-input [label]="'Name'" [control]="sharedGroup.get('name')"></app-input>
    <!--Name-->

    <!--Contact No.-->
    <app-input
      [label]="'Contact No'"
      [control]="sharedGroup.get('contactNo')"
      [type]="'text'"
      [mask]="'(0000) 000 000'"
    ></app-input>
    <!--Contact No.-->

    <!--Address-->
    <div formGroupName="address">
      <app-input
        [label]="'Street'"
        [control]="sharedGroup.get('address')['controls']['street']"
      ></app-input>
      <app-input
        [label]="'City'"
        [control]="sharedGroup.get('address')['controls']['city']"
      ></app-input>
    </div>
    <!--Address-->

    <!--Email-->
    <app-input
      [label]="'Email'"
      [control]="sharedGroup.get('email')"
      [isReadOnly]="isReadOnly"
    ></app-input>
    <!--Email-->

    <!--Subscribe-->
    <div class="form-check">
      <input
        type="checkbox"
        class="form-check-input"
        formControlName="isSubscribed"
      />
      <label>Subscribe</label>
    </div>
    <!--Subscribe-->
  </div>
</div>
