<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">
      Edit Record: {{ record["name"] }}
    </h5>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modalRef.close()"
    ></button>
  </div>
  <div class="modal-body">
    <form (ngSubmit)="onSaveChanges()" id="editForm">
      <app-form
        [parentGroup]="formEditRecord"
        [sharedGroup]="formEditRecord.get('sharedGroup')"
        [isReadOnly]="true"
      ></app-form>
    </form>
  </div>
  <div class="modal-footer">
    <app-button
      [type]="'button'"
      [class]="'btn btn-danger'"
      [value]="'Cancel'"
      (onClick)="modalRef.close()"
    ></app-button>
    <app-button
      [type]="'submit'"
      [class]="'btn btn-success'"
      [value]="'Save Changes'"
      [form]="'editForm'"
      [isProcessing]="isProcessing"
      [isInvalid]="formEditRecord.invalid"
    ></app-button>
  </div>
</div>
