//inputfield
.form-control {
  border: none;
  border-radius: 0;
  border-bottom: 1px solid rgb(192, 192, 192);
}

input:focus:not([readonly]) {
  border-bottom: 1px solid var(--primary-color);
  box-shadow: 0 1px 0 0 var(--primary-color);
}
//inputfield

//--Hide input number arrows/spinner--
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
//--Hide input number arrows/spinner--

//--label--
label {
  font-size: 0.9rem;
}
//--label--

//--inputField text--
input {
  font-size: 0.9rem !important;
}
//--inputField text--
