<table class="table table-hover">
  <thead>
    <tr>
      <th>#</th>
      <th *ngFor="let element of elements">
        {{ element.head }}
      </th>
    </tr>
  </thead>
  <tbody>
    <tr
      mdbTableCol
      *ngFor="
        let record of records
          | searchFilter: searchTerm:['name']
          | paginate: { itemsPerPage: itemsPerPage, currentPage: pageCount };
        index as i
      "
    >
      <td *ngIf="pageCount == 1">{{ i + 1 }}</td>
      <td *ngIf="pageCount > 1">
        {{ (pageCount - 1) * itemsPerPage + (i + 1) }}
      </td>
      <td *ngFor="let element of elements">
        <!--Data-->
        <div *ngIf="element.type !== 'group'; else nestedKeyElements">
          <div *ngIf="element.key !== 'contactNo'; else contactNo">
            {{ record[element.key] }}
          </div>
          <ng-template #contactNo>
            {{ record[element.key] | mask: "(0000) 000 000" }}
          </ng-template>
        </div>
        <!--Data-->

        <!--Icon-->
        <i
          *ngIf="element.type === 'subscription'"
          [class]="element.icon"
          [style.color]="record.isSubscribed ? '#00b74a' : '#C8C8C8'"
        ></i>
        <!--Icon-->

        <!--Actions-->
        <div *ngIf="element.type === 'actions'">
          <i
            class="fas fa-pen text-success me-4 icon-action"
            (click)="onEdit.emit(record)"
          ></i>
          <i
            class="fas fa-trash text-danger icon-action"
            (click)="onRemove.emit(record)"
          ></i>
        </div>
        <!--Actions-->

        <!--Group-->
        <ng-template #nestedKeyElements>
          <td
            *ngFor="let nestedElement of element.nestedKeys; let isLast = last"
          >
            {{ record[element.key][nestedElement.key] }}{{ isLast ? "" : ", " }}
          </td>
        </ng-template>
        <!--Group-->
      </td>
    </tr>
  </tbody>
</table>
<div class="d-flex flex-column align-items-center" *ngIf="isProcessing">
  <span class="spinner-border text-success my-2" role="status"></span>
  <span>Loading...</span>
</div>
<div class="text-end">
  <pagination-controls (pageChange)="pageCount = $event"></pagination-controls>
</div>
