<div class="modal-header">
  <h5 class="modal-title" id="exampleModalLabel">Remove Record?</h5>
  <button
    type="button"
    class="btn-close"
    aria-label="Close"
    (click)="modalRef.close()"
  ></button>
</div>
<div class="modal-body">
  <small>Possessed By: {{ record.email }}</small>
</div>
<div class="modal-footer">
  <app-button
    [type]="'button'"
    [class]="'btn btn-success'"
    [value]="'Cancel'"
    (onClick)="modalRef.close()"
  ></app-button>
  <app-button
    [type]="'button'"
    [class]="'btn btn-danger'"
    [value]="'Remove'"
    (onClick)="onRemove()"
    [isProcessing]="isProcessing"
  ></app-button>
</div>
