<div class="h-100 d-flex flex-column align-items-center justify-content-center">
  <!--Message-->
  <small *ngIf="isSuccess" class="text-success success-msg"
    >Registration Successful</small
  >
  <small *ngIf="serverErrorMessage" class="text-danger error-msg">{{
    serverErrorMessage
  }}</small>
  <!--Message-->

  <div class="registration-container">
    <form [formGroup]="registrationForm" (ngSubmit)="handleRegistration()">
      <!--Name-->
      <app-input
        [label]="'Name'"
        [control]="registrationForm.get('fullName')"
        [type]="'text'"
      ></app-input>
      <!--Name-->

      <!--Email-->
      <app-input
        [label]="'Email'"
        [control]="registrationForm.get('email')"
        [type]="'email'"
      ></app-input>
      <!--Email-->

      <!--Password-->
      <app-input
        [label]="'Password'"
        [control]="registrationForm.get('password')"
        [type]="'password'"
        [isPasswordShow]="true"
      ></app-input>
      <!--Password-->

      <small
        class="text-danger pw-no-match"
        *ngIf="registrationForm.errors?.mismatch"
        >{{ registrationForm.errors?.message }}</small
      >

      <!--Confirm Password-->
      <app-input
        [label]="'Confirm Password'"
        [control]="registrationForm.get('confirmPassword')"
        [type]="'password'"
        [isPasswordShow]="true"
      ></app-input>
      <!--Confirm Password-->

      <!--Buttons-->
      <div class="text-end d-flex flex-column">
        <app-button
          [type]="'submit'"
          [class]="'btn btn-success'"
          [value]="'Register'"
          [isProcessing]="isProcessing"
          [isInvalid]="registrationForm.invalid"
        ></app-button>
        <div class="d-flex justify-content-end align-items-center mt-2">
          <small>Already Registered?</small>
          &nbsp;
          <a class="text-success" routerLink="/login">LOGIN</a>
        </div>
      </div>
      <!--Buttons-->
    </form>
  </div>
</div>
