<div class="h-100 d-flex flex-column align-items-center justify-content-center">
  <!--Message-->
  <small *ngIf="serverErrorMessage" class="text-danger err-msg">{{
    serverErrorMessage
  }}</small>
  <!--Message-->

  <div class="login-container">
    <form [formGroup]="loginForm" (ngSubmit)="handleLogin()">
      <!--Email-->
      <app-input
        [label]="'Email'"
        [control]="loginForm.get('email')"
        [type]="'email'"
      ></app-input>
      <!--Email-->

      <!--Password-->
      <app-input
        [label]="'Password'"
        [control]="loginForm.get('password')"
        [type]="'password'"
        [isPasswordShow]="true"
      ></app-input>
      <!--Password-->

      <div class="text-end d-flex flex-column">
        <app-button
          [type]="'submit'"
          [class]="'btn btn-success'"
          [value]="'Login'"
          [isProcessing]="isProcessing"
          [isInvalid]="loginForm.invalid"
        ></app-button>
        <div class="d-flex align-items-center justify-content-end mt-2">
          <small>Not Registered?</small>
          &nbsp;
          <a class="text-success" routerLink="/registration">REGISTER</a>
        </div>
      </div>
    </form>
  </div>
</div>
