<div class="container hero">
  <div class="row mt-5">
    <div class="col-md-4">
      <img src="{{ heroImage }}" class="hero__image" />
    </div>
    <div class="col-md-8 ps-5">
      <h1 class="mb-4 text-success">Header it is..</h1>
      <p class="lh-lg">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut scelerisque
        libero ex, nec interdum quam pulvinar a. Phasellus dictum, est ut
        bibendum facilisis, orci mi consectetur quam, eu dapibus turpis neque
        non ante. Proin vulputate leo ut velit fermentum, non lacinia tellus
        fringilla. Suspendisse pulvinar ipsum sed porttitor tincidunt.
        Vestibulum vulputate id ex eu vehicula. Duis viverra cursus arcu et
        interdum.
      </p>
      <p class="lh-lg">
        Pellentesque habitant morbi tristique senectus et netus et malesuada
        fames ac turpis egestas. Vivamus efficitur mi ut varius consectetur.
        Cras eu justo tempor, aliquet mauris et, ornare elit. Phasellus lorem
        lacus, pulvinar non maximus at, fringilla ut turpis. Vestibulum in odio
        vitae risus luctus convallis. Aenean leo tellus, rhoncus a ante ac,
        scelerisque venenatis urna. Duis elementum, risus molestie pharetra
        interdum, dolor lectus dignissim turpis, ut tincidunt risus libero eu
        lacus. Nulla ut nisi at sem rutrum tincidunt. Proin finibus est eget
        ligula commodo, eu consectetur ex imperdiet. Etiam sed laoreet eros,
        eget imperdiet risus.
      </p>
    </div>
  </div>
</div>
