<div class="form-group mb-2">
  <label>{{ label }}</label>
  <div class="d-flex align-items-center input-field">
    <input
      [type]="type"
      class="form-control"
      [formControl]="control"
      [class.is-invalid]="control.touched && control.invalid"
      [readonly]="isReadOnly"
      [mask]="mask"
      appPasswordStrength
      [control]="control"
    />

    <div *ngIf="isPasswordShow && control.value">
      <i
        class="password-show"
        [class]="type === 'password' ? 'fas fa-eye' : 'fas fa-eye-slash'"
        (click)="togglePasswordVisibility()"
      ></i>
    </div>
  </div>
  <div class="msg-container">
    <small *ngIf="control.touched" class="text-danger msg-error">
      {{ control?.errors | formErrorMessage: label }}
    </small>
  </div>
</div>
